/*!**/
/*vh vs. % article*/
/*https://stackoverflow.com/questions/31039979/css-units-what-is-the-difference-between-vh-vw-and*/
/* *!*/
/*body {*/
/*    height: 100vh;*/
/*}*/
/*!* row color *!*/
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
/*div.tall-row {*/
/*    height: 300px;*/
}
body {
    background-color: #F0F0F0;
}
.codeup-nav{
    font-family: "Abel", sans-serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    margin-right: 2em;
}
.nav-link {
    font-family: "Abel", sans-serif;
}
h1 {
    font-family: "Anton";
    font-size: 3.9em;
    display: grid;

    margin: 1em;
    text-align: center;
}

h2 {
    font-family: "Anton";
    font-size: 2.8em;
    display: grid;
    justify-content: center;
    margin: 1em;
}

h3 {
    font-family: "Anton";
    display: grid;
}

h4{
    font-family: "Abel", sans-serif;
    font-size: 16px;
}

.buttons {
    font-family: "Anton";
    font-size: 1em;
    color: white;
}
.design {
    width: 100px;
    height: 100px;
    line-height: 75px;
    border-radius: 50%;
    background-color: #E6563B;
    text-align: center;
    border: 7px solid white;
}
.develop {
    width: 100px;
    height: 100px;
    line-height: 75px;
    border-radius: 50%;
    background-color: #EB9D3A;
    text-align: center;
    border: 7px solid white;
}
.support {
    width: 100px;
    height: 100px;
    line-height: 75px;
    border-radius: 50%;
    background-color: #7CB06C;
    text-align: center;
    border: 7px solid white;
}
.host {
    width: 100px;
    height: 100px;
    line-height: 75px;
    border-radius: 50%;
    background-color: #00ABA9;
    text-align: center;
    border: 7px solid white;
}

img{
    max-width: 100%;
    max-height: 100%;
}

h5{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-family: "Anton";
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}

.d {
    background-color: #E6563B;
}
.d2 {
    background-color: #EB9D3A;
}
.s {
    background-color: #7CB06C;
}
.h {
    background-color: #00ABA9;
}
.col-lg-1 {
    display: grid;
    justify-content: center;
    align-items: center;
}

